@import "bootstrap.min.css";

body {
  --main-body-color: #hsl(0, 0%, 9.8%);
  --bs-body-color: #hsl(0, 0%, 9.8%);
  --dt-color-magenta: hsl(329.20000000000005, 100%, 44.3%);
  --dt-color-black: hsl(0, 0%, 0%);
  --dt-color-white: hsl(0, 0%, 100%);
  --dt-color-grey-0: hsl(0, 0%, 94.9%);
  --dt-color-grey-10: hsl(0, 0%, 89.8%);
  --dt-color-grey-20: hsl(0, 0%, 80%);
  --dt-color-grey-30: hsl(0, 0%, 69.8%);
  --dt-color-grey-40: hsl(0, 0%, 60%);
  --dt-color-grey-50: hsl(0, 0%, 49.8%);
  --dt-color-grey-60: hsl(0, 0%, 40%);
  --dt-color-grey-70: hsl(0, 0%, 29.8%);
  --dt-color-grey-80: hsl(0, 0%, 20%);
  --dt-color-grey-90: hsl(0, 0%, 9.8%);
  --dt-color-grey-100: hsl(0, 0%, 0%);
  --dt-color-orange-0: hsl(54.39999999999998, 100%, 93.7%);
  --dt-color-orange-10: hsl(48.39999999999998, 100%, 88.8%);
  --dt-color-orange-20: hsl(43.69999999999999, 100%, 84.1%);
  --dt-color-orange-30: hsl(38.69999999999999, 100%, 79.6%);
  --dt-color-orange-40: hsl(33.5, 100%, 75.1%);
  --dt-color-orange-50: hsl(29, 100%, 70.8%);
  --dt-color-orange-60: hsl(24.80000000000001, 96.5%, 66.1%);
  --dt-color-orange-70: hsl(17.30000000000001, 71.4%, 56.1%);
  --dt-color-orange-80: hsl(17.30000000000001, 72.3%, 39.6%);
  --dt-color-orange-90: hsl(17.30000000000001, 88.8%, 31.4%);
  --dt-color-orange-100: hsl(11.399999999999977, 86.6%, 26.3%);
  --dt-color-red-0: hsl(353.79999999999995, 100%, 88.6%);
  --dt-color-red-10: hsl(351.5, 100%, 83.3%);
  --dt-color-red-20: hsl(350.4, 98.1%, 78.8%);
  --dt-color-red-30: hsl(350.6, 91%, 73.9%);
  --dt-color-red-40: hsl(350.4, 85.1%, 68.4%);
  --dt-color-red-50: hsl(350.29999999999995, 82.8%, 63.5%);
  --dt-color-red-60: hsl(351.20000000000005, 82.6%, 59.4%);
  --dt-color-red-70: hsl(349.70000000000005, 69%, 50.6%);
  --dt-color-red-80: hsl(348.9, 74.9%, 43.7%);
  --dt-color-red-90: hsl(347.1, 84%, 36.9%);
  --dt-color-red-100: hsl(345.9, 100%, 30%);
  --dt-color-blue-0: hsl(190.20000000000005, 100%, 92%);
  --dt-color-blue-10: hsl(196.20000000000005, 100%, 85.5%);
  --dt-color-blue-20: hsl(200.89999999999998, 100%, 79.2%);
  --dt-color-blue-30: hsl(206, 100%, 73.3%);
  --dt-color-blue-40: hsl(210.70000000000005, 100%, 67.5%);
  --dt-color-blue-50: hsl(215.60000000000002, 100%, 62%);
  --dt-color-blue-60: hsl(220, 100%, 56.5%);
  --dt-color-blue-70: hsl(227.39999999999998, 89%, 46.3%);
  --dt-color-blue-80: hsl(236.5, 100%, 37.5%);
  --dt-color-blue-90: hsl(241.10000000000002, 100%, 31.2%);
  --dt-color-blue-100: hsl(249.39999999999998, 100%, 25.1%);
  --dt-color-teal-0: hsl(176.10000000000002, 63.3%, 90.4%);
  --dt-color-teal-10: hsl(178.89999999999998, 60%, 82.4%);
  --dt-color-teal-20: hsl(180, 58.5%, 74.5%);
  --dt-color-teal-30: hsl(181.20000000000005, 57.6%, 66.7%);
  --dt-color-teal-40: hsl(182.10000000000002, 55.2%, 58.8%);
  --dt-color-teal-50: hsl(183.60000000000002, 53.8%, 50.8%);
  --dt-color-teal-60: hsl(184.79999999999995, 68.9%, 42.9%);
  --dt-color-teal-70: hsl(182.89999999999998, 80.1%, 35.5%);
  --dt-color-teal-80: hsl(180.5, 91.5%, 27.8%);
  --dt-color-teal-90: hsl(178.89999999999998, 100%, 20.6%);
  --dt-color-teal-100: hsl(176.5, 100%, 16.9%);
  --dt-color-green-0: hsl(78.30000000000001, 59%, 92.4%);
  --dt-color-green-10: hsl(82.5, 55.6%, 85.9%);
  --dt-color-green-20: hsl(86.30000000000001, 55.3%, 79.8%);
  --dt-color-green-30: hsl(90.39999999999998, 52.6%, 73.5%);
  --dt-color-green-40: hsl(95.30000000000001, 50.9%, 67.3%);
  --dt-color-green-50: hsl(98.80000000000001, 49.7%, 61%);
  --dt-color-green-60: hsl(103.19999999999999, 48.1%, 54.7%);
  --dt-color-green-70: hsl(111.5, 46.1%, 48%);
  --dt-color-green-80: hsl(120, 52.4%, 41.2%);
  --dt-color-green-90: hsl(127.60000000000002, 58.9%, 34.3%);
  --dt-color-green-100: hsl(136.3, 65.7%, 27.5%);
  --dt-color-clay-0: hsl(15.800000000000011, 42.2%, 91.2%);
  --dt-color-clay-10: hsl(19.399999999999977, 46.3%, 86.9%);
  --dt-color-clay-20: hsl(20.899999999999977, 49.4%, 82.9%);
  --dt-color-clay-30: hsl(21.899999999999977, 48.1%, 78.8%);
  --dt-color-clay-40: hsl(22.30000000000001, 48.4%, 74.9%);
  --dt-color-clay-50: hsl(22.80000000000001, 48.3%, 71.2%);
  --dt-color-clay-60: hsl(25.100000000000023, 46.7%, 66.9%);
  --dt-color-clay-70: hsl(22.899999999999977, 35.8%, 58.4%);
  --dt-color-clay-80: hsl(21.399999999999977, 27.6%, 50.2%);
  --dt-color-clay-90: hsl(18.899999999999977, 26.8%, 41.8%);
  --dt-color-clay-100: hsl(18.600000000000023, 24.7%, 33.3%);
  --dt-color-rose-0: hsl(338.79999999999995, 48.6%, 93.1%);
  --dt-color-rose-10: hsl(341.4, 46%, 87.6%);
  --dt-color-rose-20: hsl(341.4, 45.7%, 82%);
  --dt-color-rose-30: hsl(341.9, 43.8%, 76.3%);
  --dt-color-rose-40: hsl(343.79999999999995, 42.3%, 70.8%);
  --dt-color-rose-50: hsl(346, 41.2%, 65.3%);
  --dt-color-rose-60: hsl(346.79999999999995, 39.8%, 59.6%);
  --dt-color-rose-70: hsl(344.79999999999995, 31.5%, 49.2%);
  --dt-color-rose-80: hsl(342.9, 35.4%, 38.8%);
  --dt-color-rose-90: hsl(340.29999999999995, 40.3%, 28.2%);
  --dt-color-rose-100: hsl(338.4, 44.6%, 22%);
  --dt-color-lilac-0: hsl(307.5, 33.3%, 95.3%);
  --dt-color-lilac-10: hsl(310, 27.3%, 91.4%);
  --dt-color-lilac-20: hsl(310.6, 28.8%, 88.4%);
  --dt-color-lilac-30: hsl(310, 30.8%, 84.7%);
  --dt-color-lilac-40: hsl(300, 28.2%, 77.1%);
  --dt-color-lilac-50: hsl(293.6, 30.7%, 70%);
  --dt-color-lilac-60: hsl(292.9, 30.9%, 62.5%);
  --dt-color-lilac-70: hsl(292.79999999999995, 24.4%, 53.3%);
  --dt-color-lilac-80: hsl(293.20000000000005, 23.8%, 43.7%);
  --dt-color-lilac-90: hsl(291.79999999999995, 29.1%, 34.3%);
  --dt-color-lilac-100: hsl(291.1, 37%, 24.9%);
  --dt-color-pigeon-0: hsl(226.20000000000005, 41.9%, 93.9%);
  --dt-color-pigeon-10: hsl(227.5, 42.9%, 89%);
  --dt-color-pigeon-20: hsl(227.60000000000002, 41.5%, 83.9%);
  --dt-color-pigeon-30: hsl(228.60000000000002, 38.9%, 78.8%);
  --dt-color-pigeon-40: hsl(230.60000000000002, 38.3%, 73.9%);
  --dt-color-pigeon-50: hsl(230.79999999999995, 37.1%, 68.8%);
  --dt-color-pigeon-60: hsl(232.70000000000005, 35.9%, 63.9%);
  --dt-color-pigeon-70: hsl(239.10000000000002, 29.8%, 55.9%);
  --dt-color-pigeon-80: hsl(244.60000000000002, 26.5%, 48%);
  --dt-color-pigeon-90: hsl(251.60000000000002, 30.4%, 40%);
  --dt-color-pigeon-100: hsl(257.5, 33.7%, 32%);
  --dt-color-neptune-0: hsl(176, 29.4%, 90%);
  --dt-color-neptune-10: hsl(180, 31.6%, 85.1%);
  --dt-color-neptune-20: hsl(178.29999999999995, 34.7%, 80.2%);
  --dt-color-neptune-30: hsl(180, 34.4%, 74.9%);
  --dt-color-neptune-40: hsl(182.29999999999995, 34.6%, 70%);
  --dt-color-neptune-50: hsl(184, 33.7%, 65.1%);
  --dt-color-neptune-60: hsl(184.39999999999998, 33.3%, 60%);
  --dt-color-neptune-70: hsl(182.70000000000005, 27.5%, 52.9%);
  --dt-color-neptune-80: hsl(180, 25.3%, 45.7%);
  --dt-color-neptune-90: hsl(178.79999999999995, 24.9%, 38.6%);
  --dt-color-neptune-100: hsl(178.20000000000005, 21.2%, 31.4%);
  --dt-color-olive-0: hsl(95, 33.3%, 92.9%);
  --dt-color-olive-10: hsl(96, 30.3%, 87.1%);
  --dt-color-olive-20: hsl(98.60000000000002, 29.8%, 81.6%);
  --dt-color-olive-30: hsl(100, 29%, 75.7%);
  --dt-color-olive-40: hsl(101.89999999999998, 28.1%, 70%);
  --dt-color-olive-50: hsl(103.19999999999999, 27.5%, 64.3%);
  --dt-color-olive-60: hsl(103.89999999999998, 26.4%, 58.4%);
  --dt-color-olive-70: hsl(102.19999999999999, 22%, 48.2%);
  --dt-color-olive-80: hsl(100, 24.7%, 38%);
  --dt-color-olive-90: hsl(97.5, 28.2%, 27.8%);
  --dt-color-olive-100: hsl(97.69999999999999, 32.7%, 21%);
  --dt-color-primary-hover: hsl(329.29999999999995, 95.2%, 50.6%);
  --dt-color-primary-active: hsl(329.29999999999995, 100%, 39.8%);
  --dt-color-focus: hsl(215.60000000000002, 100%, 62%);
  --dt-color-text-standard: hsl(0, 0%, 9.8%);
  --dt-color-text-additional: hsl(0, 0%, 40%);
  --dt-color-text-link: hsl(227.39999999999998, 89%, 46.3%);
  --dt-color-text-link-hover: hsl(236.5, 100%, 37.5%);
  --dt-color-text-link-active: hsl(220, 100%, 56.5%);
  --dt-color-text-link-visited: hsl(227.39999999999998, 89%, 46.3%);
  --dt-color-text-info: hsl(227.39999999999998, 89%, 46.3%);
  --dt-color-text-disabled: hsl(0, 0%, 49.8%);
  --dt-color-text-success: hsl(136.3, 65.7%, 27.5%);
  --dt-color-text-error: hsl(349.70000000000005, 69%, 50.6%);
  --dt-color-background-standard: hsl(0, 0%, 100%);
  --dt-color-background-light: hsl(0, 0%, 94.9%);
  --dt-color-background-darker: hsl(0, 0%, 80%);
  --dt-color-background-overlay: hsla(0, 0%, 42.4%, 0.7);
  --dt-color-background-disabled: hsl(0, 0%, 80%);
  --dt-color-background-success: hsl(136.3, 65.7%, 27.5%);
  --dt-color-background-error: hsl(349.70000000000005, 69%, 50.6%);
  --dt-color-functional-red: hsl(349.70000000000005, 69%, 50.6%);
  --dt-color-functional-green: hsl(136.3, 65.7%, 27.5%);
  --dt-color-functional-blue: hsl(227.39999999999998, 89%, 46.3%);
  --admonition-background-error: hsla(353.8, 100%, 88.6%, 0.35);
  --admonition-icon-error: rgb(253, 0, 25);
  --admonition-background-warning:  hsla(33.5, 100%, 75.1%, 0.3);
  --admonition-icon-warning:  rgb(243, 138, 0);
  --admonition-background-informational: hsla(190.2, 100%, 92%, 0.75);
  --admonition-icon-informational: rgb(5, 181, 216);
  --admonition-background-success: hsl(98.8, 49.7%, 61%, 0.2);
  --admonition-icon-success: rgb(69, 192, 3);
}

body {
  color: var(--dt-color-text-standard);
}

/* START: GLOBAL a-tag BEHAVIOR */

 body a {
  text-decoration: none;
  color: var(--dt-color-text-link);
}

body a:hover {
  text-decoration: underline;
  color: var(--dt-color-text-link-hover);
}

/* END: GLOBAL a-tag BEHAVIOR */


/* CONTAINER */
/* Sizing */
/* force using full screen */
.container-xxl {
  max-width: unset !important;
}

/* END: Sizing */

/* Make the container larger on XXL Screens */

/* CONTAINER END */

/* NAVBAR */
/* tiny magenta line sticks to the top */
.skippy {
  background-color: var(--dt-color-magenta);
  height: 4px;
}

.docs-navbar {
  padding: 0 0 0.75rem 0 !important;
  background: var(--dt-color-magenta);
  /*display: flex;*/
  /*height: 72px;
  max-width: unset;
  top: -68px;*/
}

@media (min-width: 768px) {

  /* Arrow when hovering NavBar Items */
  .dropdown-menu:after {
    position: absolute;
    top: -11px;
    left: 18px; /* Example: right:10px; */
    display: inline-block;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #ffffff;
    border-left: 13px solid transparent;
    content: '';
  }

}

#navbarNav {
  flex-grow: unset;
}

/* light box around link on hover for informativity */

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.docs-title {
  color: var(--dt-color-white);
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

.navbar-brand {
  max-width: 250px;
  display: flex;
}

.navbar-brand img {
  height: 38px;
  max-width: 300px;
  width: 100%;
}

@media (max-width: 385px) {
  .navbar-brand img {
    height: 20px;
  }
}

/* claim logo on, narrow - off */
.brand-wide {
  display: flex;
}
.brand-narrow {
  display: none;
}

@media screen and (min-width: 768px) {
  #navbarNav .navbar-nav > li > a.nav-link {
    color: var(--dt-color-white);
    font-weight: 400;
    font-size: 1.2rem;
  }
}

/* When in narrow mode tune nav */
@media screen and (max-width: 767.98px) {
  /* swap logos */
  .brand-wide {
    display: none;
  }
  .brand-narrow {
    display: block;
  }
  /* make site name smaller */
  .docs-title {
    font-size: 1rem;
    font-weight: 500;
  }

  /* make nav links bigger and white */
  #navbarNav .navbar-nav a {
    color: var(--dt-color-white);
    font-size: 1.2rem;
  }

  .navbar-nav hr {
     color: var(--dt-color-grey-10);
  }

  .docs-navbar .dropdown-menu {
    background-color: transparent;
    padding-left: 0.75rem;
    border: none;
    border-bottom: solid 1px var(--dt-color-grey-20);
    border-radius: 0;
  }
  .docs-navbar .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.dropdown-item:hover {
  background-color: var(--dt-color-background-light);
  text-decoration: none;
}

/* END: NAVBAR */

/* subnavbar */
.docs-subnavbar {
  position: relative;
  /*#  z-index: 1020;*/
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.docs-subnavbar div {
  justify-content: flex-end;
}
/* END: subnavbar */

/* Breadcrumbs */
docs-book-wrapper .ul-breadcrumbs {
  list-style-image: none;
  list-style: none;
  margin: 0;
  padding-bottom: 1rem;
  text-decoration: none;
}

@media(max-width: 991px) {
  .ul-breadcrumbs {
    padding-left: 0;
  }
}

@media(min-width: 992px) {
  .ul-breadcrumbs {
    padding-left: 1.5rem;
  }
}

.ul-breadcrumbs li {
  display:inline-block;
}

.ul-breadcrumbs li a {
  color: var(--dt-color-grey-50);
}

.ul-breadcrumbs li a:hover {
  color: var(--dt-color-magenta);
  text-decoration: none;
}

.breadcrumb-title {
  color: var(--dt-color-grey-70);
}

.breadcrumb-arrow {
  font-size: 0.7rem;
  color: var(--dt-color-grey-50);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
/* END: Breadcrumbs */

/* SEARCH */

#searchResultsEnter a:hover {
  text-decoration: none;
}

#searchDropdown {
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.33);
}

#searchDropdown a:hover {
  text-decoration: none;
  background-color: var(--dt-color-background-light);
}

#searchInputGroup > .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
  background-color: var(--dt-color-white);
}

.add-box-shadow {
  box-shadow: 0 0 0 0.25rem rgb(226 0 116 / 25%);
  border-radius: .25rem;
}

.add-left-border {
  border-left: 1px;
}

.delete-right-border {
  border-right: 0;
}

.delete-search-text {
  border-left: 0;
  background-color: var(--dt-color-white);
}

.search-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.path-green {
  color: var(--dt-color-olive-80);
}

.nobullets {
  list-style-type: none;
}

.nodisplay {
  display: none;
}

.not-visible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.fa-close:hover, .fa-search:hover, .fa-magnifying-glass:hover {
  color: var(--dt-color-primary-hover);
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: var(--dt-color-primary-active);
  border-color: var(--dt-color-primary-active);
}

.page-link {
  color: var(--dt-color-magenta);
}

.page-link:hover {
  color: var(--dt-color-primary-hover)
}

.pagination a:hover {
  text-decoration: none;
}

/* END: search */

/* SIDEBAR */

.docs-sidebar {
  grid-area: sidebar;
  border-right: 2px solid var(--dt-color-grey-0);
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .docs-book-wrapper,
  .docs-search-wrapper {
    width: 100%;
    max-width: unset;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
  }
}

.docs-sidebar-toc {
  overflow: auto;
}

.docs-sidebar-toc ul {
  list-style: none;
  padding-left: 0;
}
.docs-sidebar-toc a {
  color: var(--dt-color-black);
}
.docs-sidebar-toc a:hover {
  color: var(--dt-color-primary-hover);
  text-decoration: none;
}

@media (min-width: 768px) {
  .docs-sidebar-toc {
    position: sticky;
    top: 10px;
    height: calc(100vh);
    display: block !important;
    overflow-y: auto;
  }
}

@media (max-width: 767.98px) {
  .docs-sidebar {
    margin: 0 -0.75rem 1rem;
  }
  .docs-sidebar-toc ul {
    padding: 1.5rem 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
  }
}

.docs-sidebar-toggle {
  color: #6c757d;
}
.docs-sidebar-toggle:not(.collapsed) .bi-collapse {
  display: inline-block;
}
.docs-sidebar-toggle .bi-collapse {
  display: none;
}
.docs-sidebar-toggle:not(.collapsed) .bi-expand {
  display: none;
}

/* make l1 of the toctree bold */
div.docs-sidebar-toc li.toctree-l1 > a {
  font-weight: 400;
}
.docs-sidebar-section-title {
  display: block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.docs-sidebar-section-title h4:hover {
  color: var(--dt-color-primary-hover)
}
.docs-sidebar-section-title > h4 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 0;
}

@media (max-width: 768px) {
  .docs-sidebar-section-title > h4 {
    margin-top: 1rem;
  }
}

#TableOfContents {
  color: var(--dt-color-grey-40)
}
#table-of-contents.docs-sidebar-section {
  background-color: transparent;
}
#table-of-contents.docs-sidebar-section ul {
  padding-left: 20px;
}
#table-of-contents.docs-sidebar-section ul {
  list-style: none;
}
/* add spaces between elements of the nav */
#table-of-contents.docs-sidebar-section li {
  margin-top: 0.5rem;
}
.docs-sidebar a.current {
  color: var(--dt-color-magenta) !important;
  border-left: 1px solid var(--dt-color-magenta);
  padding-left: 0.75rem;
}
.color-magenta {
  color: var(--dt-color-magenta) !important;
}
.docs-toc > strong {
  color: var(--dt-color-grey-50)
}

/* END: Sidebar */

/* CONTENT */
/* Fix pre blocks not to strech width */
.row {
  min-width: 0;
}

.flex-start {
  align-content: flex-start;
}

/* Chapters include normally invisible (P) symbol */
a {
  color: var(--dt-color-blue-60);
}

a.headerlink {
  color: #fff;
}

a.headerlink:hover {
  color: var(--dt-color-blue-60);
}

.docs-content h1 {
  font-weight: 400;
}

.docs-content
h2,
h3,
h4,
h5 {
  font-weight: lighter;
}

main h1, h2, h3, h4, h5 {
  color: var(--dt-color-grey-70);
}

.docs-content h1, h2, h3 {
  margin-bottom: 1rem;
}

.docs-content h2, h3, h4 {
  margin-top: 2rem;
}

.docs-content li > p {
  margin-bottom: 0.5rem;
}

.docs-body a {
  text-decoration-line: none;
}

table.docutils thead {
  border: 1px solid #666666;
}

th {
  font-weight: 600;
}

th.head > p {
  margin-bottom: 0px;
}

table.docutils th {
  color: #ffffff !important;
  background-color: #666666;
  border-bottom-color: #666666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* Rounded corner for first table-header element */

table th:first-child {
  border-radius: 0 0 0 0;
}

/* Rounded corner for last table-header element */

table th:last-child {
  border-radius: 0 0 0 0;
}

/* Reset borders from previous css files */
table.docutils th {
  border-collapse: collapse;
}

table.docutils th,
table.docutils td {
  padding: 8px;
}

table.docutils th {
  background-color: var(--dt-color-grey-70);
  color: #edf2f7;
}

table.docutils td {
  border: 1px solid #ddd;
}

table.docutils tr.row-even {
  background-color: var(--dt-color-grey-0);
}

table.docutils tr.row-odd {
  background-color: var(--dt-color-grey-10);
}

table.docutils caption {
  caption-side: top;
}

/* Formats the client command options to a propper styling */

dt.sig-object {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Formats inline code snippets */

code.docutils.literal.notranslate {
  font-size: 100%;
  font-weight: 600;
  background-color: transparent;
  color: var(--main-body-color);
}

/* Main body */
.docs-main {
  grid-area: main;
}

/* Forcing word wrapping to avoid text overflow in case of no space in it */
.docs-main p {
  word-wrap: break-word;
}

@media (min-width: 992px) {
  .docs-main {
    /*
     * those comments are from a successful attempt to use grid layout
     * it is now dropped in favor of columns, which are easier to do truly flexible,
     * but anytime can come back
     * */

    /*grid-template-areas: "title toc" "content toc" "footer toc";
    grid-template-columns: var(--docs-grid-columns);
    grid-template-rows: auto 1fr;*/
  }
}

@media (min-width: 768px) {
  /*.docs-main {
    display: grid;
    gap: inherit;
  }*/
}

.docs-toc {
  /*grid-area: toc;*/
  font-weigth: 300;
  color: var(--dt-color-grey-60);
}
.docs-content {
  /*grid-area: content;*/
}

.docs-toc nav {
}

@media (min-width: 768px) {
  .docs-toc {
    position: sticky;
    top: 10px;
    right: 0;
    z-index: 2;
    height: calc(100vh - 10rem);
    overflow-y: auto;
  }
}

.docs-toc nav ul {
  list-style: none;
}
/* Pad ul to the left */
.docs-toc nav > ul {
  padding-left: 0;
}

.docs-toc nav > ul > li > ul {
  padding-left: 0;
}

/* reset padding for deeper levels */
.docs-toc nav > ul > li > ul ul {
  padding-left: 1rem;
}

.docs-toc nav ul ul {
  margin-top: 0.25rem;
}

.docs-toc nav a {
  color: inherit;
}
.docs-toc nav a:hover {
  color: var(--dt-color-primary-hover);
  text-decoration: none;
}

.docs-toc-meta a {
  display: block;
  font-weight: 300;
  padding-bottom: 0.25rem;
}

.docs-title {
  grid-area: title;
}
/* Hide link in toc to doc itself */
#TableOfContents a[href="#"] {
  display: none;
}

/* Make body title disappear - it is included in titlerow */
.docs-body h1 {
  /*  display: none;*/
}

p.sidebar-title {
  font-weight: bold;
}

/* Make figure caption be on top */
figure {
  display: table;
  margin: 2rem 0 3rem;
}

table {
  margin: 2rem 0 2rem;
}

figcaption {
  display: table-caption;
  caption-side: top;
}
/* END: - Make figure caption be on top */
/* Make numbered lists as expected */
ol.arabic {
  list-style-type: decimal;
}
ol.loweralpha {
  list-style-type: lower-alpha;
}
/* END: - Make numbered lists as expected */

/* limit image width so that they do not scale page */
img {
  max-width: 100%;
}

pre {
  border: 1px solid var(--dt-color-grey-10);
  overflow: auto;
  margin: 0 0 10px;
  padding: 20px 30px;
  max-width: 100%;
}

pre code,
pre .line-number {
  font-family: "Courier New", Courier, Monospace;
  font-weight: normal;
  font-size: 14px;
  color: white;
  display: block;
}

pre .line-number {
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 3px solid #5bb449;
  text-align: right;
}

pre .line-number span {
  display: block;
  padding: 0 0.5em 0 1em;
}

pre .cl {
  display: block;
  clear: both;
}

/* START: ADMONITION */

.admonition {
  background: #eee;
  border-left: 4px solid;
  border-radius: 4px;
  padding: 15px;
  margin: 15px 0;
}

.admonition > .last {
  margin: 0;
}

.admonition h3 {
  font-size: 18px;
  font-weight: 600;
}

.admonition h3 i {
  margin-right: 5px;
  font-size: 22px;
}

.admonition.note {
  background: var(--admonition-background-informational);
  border-color: var(--admonition-icon-informational);
}

.admonition.note .fa-solid.fa-book {
  color: var(--admonition-icon-informational);
}

.admonition.tip {
  background: var(--admonition-background-informational);
  border-color: var(--admonition-icon-informational);
}

.admonition.tip .fa-solid.fa-info-circle {
  color: var(--admonition-icon-informational);
}

.admonition.important {
  background: var(--admonition-background-warning);
  border-color: var(--admonition-icon-warning);
}

.admonition.important .fa-solid.fa-circle-exclamation {
  color: var(--admonition-icon-warning);
}

.admonition.caution {
  background: var(--admonition-background-warning);
  border-color: var(--admonition-icon-warning);
}

.admonition.caution .fa-solid.fa-exclamation-triangle {
  color: var(--admonition-icon-error);
}

.admonition.warning {
  background: var(--admonition-background-error);
  border-color: var(--admonition-icon-error);
}

.admonition.warning .fa-solid.fa-exclamation-triangle {
  color: var(--admonition-icon-error);
}

.admonition.seealso {
  background: var(--admonition-background-success);
  border-color: var(--admonition-icon-success);
}

.admonition.seealso .fa-solid.fa-info-circle {
  color: var(--admonition-icon-success);
}

/* END: ADMONITION */

.versionadded {
  color: var(--dt-color-green-80);
}

.versionchanged {
  color: var(--dt-color-pigeon-80);
}

.deprecated {
  color: var(--dt-color-red-70);
}

/* BB: added the adminition-title rule to bolden the adminition title */
.admonition-title {
  font-weight: 600;
}

.docs-content-footer {
  grid-area: footer;
}

.docs-actions {
  text-align: right;
  margin-top: 35px;
}

.docs-actions i {
  margin-left: 0;
  padding: 0 5px;
  font-size: 20px;
  color: #999999;
}

.docs-actions i:hover {
  color: #333;
}

.docs-actions i.fa-rss {
  color: #fa600a;
}

.docs-actions i.fa-cloud-download {
  color: #30739c;
}

.docs-actions .fa-info-circle {
  border-left: 1px solid #dae5ee;
  color: #5bb449;
  padding: 0 10px;
}

.docs-actions .fa-info-circle:hover {
  color: #36782a;
}

.docs-actions .fa-info-circle.docs-info-off {
  color: #999;
}

.docs-actions .fa-bug {
  border-left: 1px solid #dae5ee;
  color: #da422f;
  padding: 0 10px;
}

.docs-actions .fa-bug:hover {
  color: #9a201d;
}

.docs-actions .fa-angle-double-left {
  border-left: 1px solid #dae5ee;
  color: #da422f;
  padding: 0 10px;
}

.docs-actions .fa-angle-double-left:hover {
  color: #9a201d;
}

.docs-actions .fa-angle-double-right {
  border-left: 1px solid #dae5ee;
  color: #da422f;
  padding: 0 10px;
}

.docs-actions .fa-angle-double-right:hover {
  color: #9a201d;
}
.docs-actions .fa-file-pdf-o {
  border-left: 1px solid #dae5ee;
  color: #da422f;
  padding: 0 10px;
}

.docs-actions .fa-file-pdf-o:hover {
  color: #9a201d;
}

.docs-byline {
  border-top: 1px solid #edf2f7;
  border-bottom: 1px solid #edf2f7;
  padding: 10px;
  font-size: 10px;
  color: #9eb5c3;
  text-transform: uppercase;
}

.docs-byline.bottom {
  margin-bottom: 30px;
}

.docs-updated {
  float: left;
  padding: 5px;
}

/* START: Copy to Clipboard */

button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 0px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}
div.highlight:hover .copybtn, div.highlight .copybtn:focus {
    opacity: .5;
}
div.highlight .copybtn:hover {
    opacity: 1;
    color: var(--dt-color-magenta);
}

div.highlight .btn:focus {
    box-shadow: 0 0 0 .25rem rgba(226, 0, 116,.25);
}

div.highlight {
    position: relative;
}

/* END: Copy to Clipboard */

/* END: Main body */

/* START: Bottom Navigation */

.page-link {
  color: var(--dt-color-black);
}

.page-link:hover {
  color: var(--dt-color-magenta);
}

/* END: Bottom Navigation */

/* START Page footer */

footer a:hover {
  text-decoration: underline;
  color: var(--dt-color-white);
}

.docs-footer {
  background: var(--dt-color-grey-90);
  display: flex;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer-links ul {
    display: block;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 0;
  }
}

.footer-links a {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
  font-size: 0.75rem;
}

.docs-footer-logo {
  height: 24px;
}

/* END: Page footer */

.btn-info {
  background-color: var(--dt-color-teal-30);
}

/* START: Scroll to top */
.to-top {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  opacity: 0.5;
  background-color: var(--dt-color-magenta);
  color: var(--dt-color-white);
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
}

.to-top:hover {
  opacity: 1;
}

.to-top-fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 768px) {
  .to-top-bottom {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .to-top-bottom {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
/* END: Scroll to top */

/* START: Config Options */
dd {
  margin-left: 2em;
}
.pre {
  font-family: "Courier New", Courier, Monospace;
}

dt {
  font-weight: 700;
}

dl {
  margin-bottom: 1.5em;
}

dl table {
  margin: 0;
}

/* END: Config Options */

/* DELETE CHROME AUTO-FILL BACKGROUND COLOR BLUE */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

/* END: DELETE CHROME AUTO-FILL */