body {
    /* Removes rounded corners */
    --scl-radius-12: 0 !important;
    /* Changes Font Size for the Navbar */
    --scl-font-variant-body-large-size: 1.5rem !important;
    /* Changes Font Size for the Dropdown Menu of the Navbar */
    --scl-font-size-16: 1.4rem !important;
    /* Changes the Font Size of Footer */
    --scl-font-size-14: 1.2rem !important;
    /* Default Text colour */
    color: #191919;
    /* Change to a proper font */
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Font Weigth for Navbar */
    --scl-font-weight-extrabold: 700 !important;
    /* Change size of Brand logo in Footer */
    --scl-spacing-24: 2em
}

h1 {
    font-size: 2em;
    color: #191919;
    margin-top: 0;
}

h2 {
    font-size: 1.7em;
    color: #191919;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

h3 {
    font-size: 1.5em;
    color: #191919;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

h4 {
    color: #191919;
}

h5 {
    color: #191919;
}

/* CONTAINER */

/* Make the container larger on XXL Screens */

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 1870px;
    }
}

/* CONTAINER END */

/* SIDEBAR */

.docs-sidebar-toc {
    color: white !important;
    background: white !important;
}

.toctree-l3 {
    color: #191919 !important;
    margin: 10px !important;
    font-weight: normal;
    text-decoration-line: none;
}

.toctree-l3>a {
    color: #191919 !important;
}

.toctree-l3>a:hover {
    color: var(--scl-color-primary-active) !important;
}

.toctree-l2 {
    color: #191919 !important;
    margin: 10px !important;
    font-weight: normal;
    text-decoration-line: none;
    /* Hide text-overflow for long headlines */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.toctree-l2>a {
    color: #191919 !important;
    text-decoration-line: none;
}

.current>a {
    color: #191919 !important;
}

.toctree-l2>a:hover {
    color: var(--scl-color-primary-active) !important;
}

.toctree-l1>a {
    color: #191919 !important;
    text-decoration-line: none;
}

.toctree-l1>a:hover {
    color: var(--scl-color-primary-active) !important;
}

.toctree-l1 {
    margin-bottom: 10px !important;
    font-weight: 600;
    text-decoration-line: none;
    /* Hide text-overflow for long headlines */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#local-table-of-contents>ul>li>ul>li {
    margin-bottom: 10px !important;
    font-weight: 600;
}

#local-table-of-contents>ul>li>a {
    color: #191919
}

#local-table-of-contents>ul>li>a:hover {
    color: var(--scl-color-primary-active) !important;
}

#local-table-of-contents>ul>li>ul>li {
    margin-bottom: 10px !important;
    font-weight: 600;
}

#local-table-of-contents>ul>li>ul>li>a {
    color: #191919;
    text-decoration-line: none;
}

#local-table-of-contents>ul>li>ul>li>ul>li {
    color: #191919 !important;
    margin: 10px !important;
    padding-left: 10px;
    font-weight: normal;
}

#local-table-of-contents>ul>li>ul>li>a:hover {
    color: var(--scl-color-primary-active) !important;
}

#local-table-of-contents>ul>li>ul>li>ul>li>a {
    color: #191919;
    text-decoration: none;
}

#local-table-of-contents>ul>li>ul>li>ul>li>a:hover {
    color: var(--scl-color-primary-active) !important;
}

.docs-sidebar-section ul ul {
    margin-left: 0 !important;
}

#local-table-of-contents.docs-sidebar-section ul:first-of-type {
    padding-left: 10px;
}

.docs-sidebar-section-title>h4 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #191919;
}

.docs-sidebar-section-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #191919;
}

#table-of-contents>ul>li {
    font-size: 14px;
    color: #191919
}

#table-of-contents>ul>li>a {
    color: #191919;
}

#table-of-contents>ul>li>a:hover {
    color: var(--scl-color-primary-active) !important;
    text-decoration: none;
}

#table-of-contents>ul>li>ul>li {
    list-style-type: none;
    margin: 10px;
}

#table-of-contents>ul>li>ul>li>a {
    color: #191919;
}

#table-of-contents>ul>li>ul>li>a:hover {
    color: var(--scl-color-primary-active) !important;
    text-decoration: none;
}

div.docs-sidebar-toc>div>ul>li {
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}

/* SIDEBAR END */

/* CONTENT */

.docs-body a {
    text-decoration-line: none;
}

a.reference {
    color: #0d39df;
}

.docs-body a:hover {
    text-decoration-line: underline;
}

table.docutils thead {
    border: 1px solid #666666;
}

th {
    font-weight: 600;
}

th.head>p {
    margin-bottom: 0px;
}

table.docutils th {
    color: #ffffff !important;
    background-color: #666666;
    border-bottom-color: #666666;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* Rounded corner for first table-header element */

table th:first-child {
    border-radius: 0 0 0 0;
}

/* Rounded corner for last table-header element */

table th:last-child {
    border-radius: 0 0 0 0;
}

/* Reset borders from previous css files */

table.docutils td {
    border: 0;
}

table.docutils td {
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
}

table.docutils tr.row-odd {
    background-color: #f9f9f9;
}

tbody>tr:nth-child(odd)>td, tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}

table.docutils tr.row-even {
    background-color: white;
}


/* Formats the client command options to a propper styling */

dt.sig-object {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Formats inline code snippets */

code.docutils.literal.notranslate {
    font-size: 100%;
    font-weight: 600;
    background-color: #ffffff;
    color: #191919;
}

/* CONTENT END */

/* CARDS (DEPRECATED) */

.startpage-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.startpage-item {
    padding: 10px;
    margin: 10px;
    background: white;
    width: 300px;
    height: 200px;
    color: #191919;
    text-align: center;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
    transition: transform .2s;
}

.startpage-item p {
    text-align: justify;
}

.startpage-item h3 {
    margin-top: 10px;
}

.startpage-item img {
    height: 4em;
}

.startpage-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.2);
    ;
}

.startpage-container a:hover {
    text-decoration: none;
}

/* CARDS END */